
# Dependencies
node_modules

# Next.js build output
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev.log
*.log

# Runtime artifacts
.vercel
coverage
tmp

# Editors and OS
.vscode/
.idea/
.DS_Store

